.profile_content {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    min-height: 90vh;
    animation: fade-in 1s linear;
}

.header {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 0 0;
}

.title,
.sub_title,
.self_intro {
    color: #fff;
    text-shadow: 2px 2px #000;
}

.title {
    font-size: 3em;
}

.sub_title {
    font-size: 1.5em;
    max-width: 70%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 15px 15px 0;
}

.self_intro {
    font-size: 1em;
}

.icon_image {
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.skill_display {
    background: rgba(0, 0, 0, 0);
    border: unset;
}

@media (min-width:768px) {
    .card-body,
    .program_information {
        display: none;
    }
    .skill_display:hover>.card-body {
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        color: #fff;
        position: absolute;
        display: inline-block;
        text-align: center;
        animation: fade-in 1s linear;
    }
    .card-title {
        line-height: 6em;
    }
    .college:hover~.program_information {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 0;
        width: 170%;
        padding: 0px 1em 0px 1em;
        margin-left: 150px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        animation: fade-in 1s linear;
    }
}

@media (min-width:970px) {
    .card-title {
        line-height: 10em;
    }
    .college:hover~.program_information {
        width: 120%;
        margin-left: 250px;
        padding: 1em;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
}