body {
    height: 100vh;
}

.front {
    display: none;
}

.back {
    text-align: center;
}

.card {
    background: unset;
}

.top_bar {
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.icon_card {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.social_icon {
    text-align: center;
    height: 20px;
    width: 100%;
}

.social_icon>img {
    position: absolute;
}

@media (min-width:768px) {
    div.card,
    div.back div.back-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card {
        width: 600px;
        height: 400px;
        background: unset;
        border: unset;
    }
    .front,
    .back {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .6s linear;
        border-radius: 15px;
        overflow: hidden;
    }
    .front img {
        width: 100%;
        height: auto;
        position: absolute;
    }
    .front .dim {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5)
    }
    .front .dim p {
        position: absolute;
        top: 70%;
        left: 60%;
        color: #fff;
        font-size: 1.5em;
        text-shadow: 2px 2px #000;
    }
    .front {
        transform: perspective(600px) rotateY(0deg);
        background: #353b48;
        animation: front_rotate 2s linear;
    }
    .back {
        background: #f1f1f1;
        transform: perspective(600px) rotateY(180deg);
        animation: back_rotate 2s linear;
    }
    .back-content {
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }
    .card:hover>.front {
        transform: perspective(600px) rotateY(-180deg);
    }
    .card:hover>.back {
        transform: perspective(600px) rotateY(0deg);
    }
    .top_bar {
        height: 30%;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
}

@media (max-width:767px) {
    .card {
        border: unset;
    }
    .back-content {
        height: 60vh;
    }
    .icon_card {
        transform: translate(0%, -50%)
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}

@keyframes front_rotate {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }
    100% {
        transform: perspective(600px) rotateY(-360deg);
    }
}

@keyframes back_rotate {
    0% {
        transform: perspective(600px) rotateY(180deg);
    }
    100% {
        transform: perspective(600px) rotateY(-180deg);
    }
}