.title {
    width: 100%;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px 15px 0 0;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.gallery {
    background: rgba(255, 255, 255, 0.3);
    min-height: 100vh;
    border-radius: 15px;
}

.main-gallery {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.big-grid {
    grid-column: span 2;
    grid-row: span 2;
}

.middle-grid {
    grid-column: span 2;
    grid-template-rows: auto-fit;
}

.horizontal-grid {
    grid-row: span 2;
    grid-template-columns: auto-fit;
}

.grid-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.dimBG {
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    position: absolute;
    height: 110%;
    width: 120%;
    top: -5%;
    left: -10%;
    z-index: 2;
    padding: 2em;
}

@media(min-width:768px) {
    .grid-img:hover {
        z-index: 3;
    }
    .grid-img:hover~.dimBG {
        display: block;
        animation: dim 0.5s linear;
    }
    .dim_bg {
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 4;
        min-height: 100vh;
        height: 100%;
        width: 100vw;
        left: 0%;
        top: 0%;
    }
    .popup_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        min-height: 50vh;
        background: #3D3D3E;
        border-radius: 15px;
        z-index: 5;
        animation: fadein 1s linear;
    }
    .popup_close:before,
    .popup_close:after {
        content: " ";
        height: 20px;
        width: 5px;
        background: #c0392b;
        position: absolute;
        z-index: 3;
        top: 10px;
        right: 25px;
        cursor: pointer;
    }
    .popup_close:before {
        transform: rotate(45deg);
    }
    .popup_close:after {
        transform: rotate(-45deg);
    }
    .popup_content {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        padding: 5%;
    }
    .cp_embed_wrapper {
        width: 100%;
    }
    @keyframes dim {
        0% {
            display: none;
            opacity: 0;
        }
        100% {
            display: block;
            opacity: 1;
        }
    }
    @keyframes fadein {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.8);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}