body {
    background-color: #9c88ff;
}

@media screen and (min-width:995px) {
    .nav-item:hover {
        background-color: #353b48;
        transition: 2s;
    }
    .information {
        display: none;
    }
    .nav-item:hover>.nav-link>.information {
        display: inline;
        color: white;
        transition: 2s;
    }
}