body {
    /* background-color: #9c88ff; */
    background: linear-gradient(318deg, rgba(56, 154, 203, 1) 0%, rgba(202, 75, 138, 1) 100%);
}

.language {
    right: 2em;
    position: absolute;
}

.dropdown-menu {
    min-width: unset;
    animation: fade_dropdown 0.5s linear;
}

footer {
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    line-height: 2em;
    left: 0;
    bottom: 0;
}

@media screen and (min-width:995px) {
    .nav-item {
        animation: fade_in_bar 2s linear;
    }
    .nav-item:hover {
        background-color: #353b48;
        transition: 2s;
    }
    .information {
        display: none;
    }
    .nav-item:hover>.nav-link>.information {
        display: inline;
        color: white;
        transition: 2s;
    }
}

@keyframes fade_in_bar {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fade_dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}